.form-submit {
  width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-submit__card {
  padding: $m-size;
  display: flex;
  flex-direction: column;
}

.form-submit__card--title {
  font-weight: 700 !important;
  font-size: 2rem !important;
}

.form-submit__card--question {
  margin-bottom: $m-size !important;
}

.form-submit__input-label {
  display: block;
}